---
import '../styles/global.css';

export interface Props {
  frontmatter: {
    title?: string;
  };
}

const { frontmatter } = Astro.props;
---

<html lang="ko">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{frontmatter.title || 'Blog'}</title>
</head>
<body>
  <main>
    <slot />
  </main>
</body>
</html>